@model Shop.Models.Product
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин оборудования для автосервисов</title>
</head>
<body>
    <div>
        <h3>Оборудование</h3>
        <table class="table">
            <tr>
                <td scope="col"><p>№</p></td>
                <td scope="col"><p>Изображение</p></td>
                <td scope="col"><p>Название</p></td>
                <td scope="col"><p>В наличии</p></td>
                <td scope="col"><p>Цена</p></td>
                <td scope="col"></td>
            </tr>
            </table>
            @foreach (var b in ViewBag.Products)
            {
                
                <form action="/Carts/Add" method="post">
                    <div class="row">
                        <div class="row"><input type="text" width="10" name="Id" value="@b.Id" /></div>
                        <div class="row" scope="row"><img src="@b.Image" alt="Картинка" width="200" height="200" /></div>

                        <div class="row"><p>@b.Name </p></div>
                        <div class="row"><input style="border: none;background: transparent;" disabled type="text" name="quantity" value="@b.Quantity" /></div>
                        <div class="row"><input style="border: none;background: transparent;" disabled type="text" name="price" value="@b.Price" /></div>
                        <div class="row">
                            <p>
                                <div class="input-group mb-3 row">
                                    <input type="text" placeholder="Количество" class="form-control col-6" width="50">
                                    <div class="input-group-append col-6">
                                        <button onClick='location.href="/Home/Buy/@b.Id"' class="btn btn-outline-secondary" type="button" id="button-addon2">Купить</button>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>                    
                </form>
            }
        

    </div>
</body>
</html>